@import './layout/normalize.scss';
@import './layout/base.scss';
@import './layout/colors.scss';
@import './layout/fonts.scss';

@import './blocks/hero.scss';
@import './blocks/logo.scss';
@import './blocks/nav.scss';
@import './blocks/main-menu.scss';
@import './blocks/order.scss';
@import './blocks/burger.scss';
@import './blocks/description.scss';
@import './blocks/scroll-bottom.scss';
@import './blocks/pages-nav.scss';

@import './blocks/features.scss';
@import './blocks/features-list.scss';
@import './blocks/feature.scss';
@import './blocks/reviews.scss';
@import './blocks/review.scss';

@import './blocks/team.scss';
