@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/UbuntuRegular.woff2') format('woff2'), url('../fonts/UbuntuRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/UbuntuLight.woff2') format('woff2'), url('../fonts/UbuntuLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/UbuntuMedium.woff2') format('woff2'), url('../fonts/UbuntuMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/UbuntuBold.woff2') format('woff2'), url('../fonts/UbuntuBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack';
  src: url('../fonts/LifehackMedium.woff2') format('woff2'), url('../fonts/LifehackMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gagalin';
  src: url('../fonts/GagalinRegular.woff2') format('woff2'), url('../fonts/GagalinRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}