.delivery {
  height: 650px;
  background: url('../img/delivery.jpg') center top no-repeat;
  background-size: cover;
  position: relative;
}

.delivery__header {
  color: $yellow;
  font-family: 'Gagalin', Helvetica, sans-serif;
  font-size: 72px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.container--delivery {
  padding-top: 114px;
}