.delivery {
  height: 40.625em;
  background: url('../img/delivery.jpg') center top no-repeat;
  background-size: cover;
  position: relative;
}

.delivery__header {
  color: $yellow;
  font-family: 'Gagalin', Helvetica, sans-serif;
  font-size: 4.500em;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.333em;
}

.container--delivery {
  padding-top: 7.125em;
}