.features {
  background: url('../img/bg/features.jpg') center center / cover no-repeat;
  height: 40.688em;
  padding-top: 6.938em;
}

.features__header {
  margin: 0;
  color: #2f3234;
  font-family: 'Gagalin', Helvetica, sans-serif;
  font-size: 4.500em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.431em;
}