.feature {
  text-align: center;
  width: 17.750em;
}

.feature__img {
  width: 6.063em;
  height: 5.563em;
  margin-bottom: 1.438em;
}

.feature__title {
  color: #2f3234;
  font-family: 'Lifehack', Helvetica, sans-serif;
  font-size: 1.500em;
  font-weight: 500;
  line-height: 1.173em;
  letter-spacing: -0.025em;
  margin: 0 0 0.625em;
}

.feature__description {
  color: rgba(47, 50, 52, 0.8);
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.716em;
  margin: 0;
}