.feature {
  text-align: center;
  width: 284px;
}

.feature__img {
  width: 97px;
  height: 89px;
  margin-bottom: 23px;
}

.feature__title {
  color: #2f3234;
  font-family: 'Lifehack', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.14px;
  letter-spacing: -0.6px;
  margin: 0 0 15px;
}

.feature__description {
  color: rgba(47, 50, 52, 0.8);
  font-size: 14px;
  font-weight: 300;
  line-height: 24.02px;
  margin: 0;
}