.feature {
  text-align: center;
  width: 17.750em;
}

.feature__header {
  margin: 0 auto 1.438em;
}

.feature__img {
  width: 6.063em;
  height: 5.563em;
}

.feature__title {
  color: #2f3234;
  font-family: 'Lifehack', Helvetica, sans-serif;
  font-size: 1.500em;
  font-weight: 500;
  line-height: 1.173em;
  letter-spacing: -0.025em;
  margin: 0 0 0.625em;
}

.feature__description {
  color: rgba(47, 50, 52, 0.8);
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.716em;
  margin: 0;
}

@media (max-width: 480px) {
  .feature {
    text-align: left;
    width: 100%;
    display: flex;
    margin-bottom: 3.113em;
  }

  .feature__header {
    margin-right: 1.750em;
  }

  .feature__content {
    width: 19.750em;
  }

  .feature__title {
    font-size: 1.500em;
  }
}