.features {
  background: url('../img/bg/features.jpg') center center / cover no-repeat;
  height: 651px;
  padding-top: 111px;
}

.features__header {
  margin: 0;
  color: #2f3234;
  font-family: 'Gagalin', Helvetica, sans-serif;
  font-size: 72px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 31px;
}