.food-menu {
  height: 40.625em;
  background: url('../img/food-menu.jpg') center top no-repeat / cover;
  position: relative;
}

.food-menu__header {
  color: $white;
  font-family: 'Gagalin', Helvetica, sans-serif;
  font-size: 4.500em;
  font-weight: 400;
}

.container--food-menu {
  padding-left: 0.250em;
  padding-top: 5.438em;
}

@media (max-width: 768px) {
  .food-menu {
    height: 64.000em;
    padding-left: 1.438em;
  }
}