.form--delivery {
  display: flex;
}

.form__row {
  display: flex;
  margin-bottom: 1.250em;
}

.form__row--mb {
  margin-bottom: 0.750em;
}

.form__block {
  flex: 1;
  margin-right: 1.250em;

  &:last-child {
    margin-right: 0;
  }
}

.form__block--flex-unset {
  flex: unset;
}

.form__block-title {
  color: $white;
  font-size: 0.875em;
  font-weight: 300;
  margin-bottom: 0.286em;
  display: flex;
  align-items: center;
  position: relative;
}

.form__input,
.form__textarea {
  border: none;
  background-color: $white;
  color: #2f3234;
  font-size: 0.875em;
  font-weight: 300;
  border-radius: 0.357em;
  width: 100%;
  padding: 0.714em 1.643em 0.643em;
}

.form__textarea {
  resize: none;
  height: 7.786em;
}

.form__radio {
  display: none;
}

.form__radio + .form__block-title:before {
  content: "";
  display: block;
  width: 1.071em;
  height: 1.071em;
  background-color: $white;
  border-radius: 50%;
  margin-right: 0.857em;
}

.form__radio:checked + .form__block-title:before {
  content: "";
  width: 0.500em;
  height: 0.500em;
  background-color: #e35028;
  border: 0.286em solid $white;
}

.form__checkbox {
  display: none;
}

.form__checkbox + .form__block-title:before {
  content: "";
  display: block;
  width: 1.071em;
  height: 1.071em;
  background-color: $white;
  margin-right: 0.857em;
}

.form__checkbox:checked + .form__block-title:before {
  content: "";
  display: block;
  width: 1.071em;
  height: 1.071em;
  background-image: url("../img/icons/checkbox-checked.png");
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 0.857em;
}

.form__buttons {
  display: flex;
}

.form__buttons-button {
  width: 7.462em;  
  background-color: #e45028;
  color: $white;
  font-size: 0.813em;
  font-weight: 500;  
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 0.308em;
  padding: 0.846em 0 0.769em;
  border: 0;
  outline: none;
  cursor: pointer;
}

.form__buttons-button--reset {
  background: none;
  font-size: 0.875em;
  font-weight: 300;
  text-transform: capitalize;
  width: 6.929em; 
  border-radius: 0.286em;
  padding: 0.786em 0 0.714em;
}