.hero {
  background: url('../img/bg/hero.jpg') center center / cover no-repeat;
  height: 40.438em;
}

.hero__header {
  display: flex;
}

.order--hero {
  padding-top: 1.563em;
}

.hero__content {
  display: flex;
  padding-left: 1.125em;
}

.hero__buttons {
  display: flex;
}