.mobile-nav {
  position: fixed;
  background: rgba(47,50,52, .95);
  z-index: 5;
  left: -99999px;
  opacity: 0;
  transition: opacity .3s;
}

.mobile-nav--active {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.mobile-nav__list {
  text-align: center;
  padding-top: 11.375em;
}

.mobile-nav__link {
  color: $white;
  font-size: 1.500em;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.mobile-nav__item {
  &:after {
    content: "";
    display: block;
    width: 0.375em;
    height: 0.375em;
    border-radius: 50%;
    background-color: $white;
    margin: 20px auto;
  }

  &:last-child:after {
    display: none;
  }
}