.order__link {
  width: 97px;  
  background-color: #e45028;
  color: $white;
  font-size: 13px;
  font-weight: 500;  
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  padding: 9px 0 8px;
}