.order__link {
  width: 7.462em;  
  background-color: #e45028;
  color: $white;
  font-size: 0.813em;
  font-weight: 500;  
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 0.308em;
  padding: 0.692em 0 0.615em;
}