.pages-nav {
  position: fixed;
  right: 50px;
  top: 94px;
}

.pages-nav__item {
  margin-bottom: 15px;
}

.pages-nav__link {
  display: block;
  width: 6px;
  height: 6px;
  background-color: $white;  
  border-radius: 50%;
  position: relative;
}

.pages-nav__item--active {
  .pages-nav__link {
    &::before {
      content: "";
      display: block;
      border: 1px solid #ffffff;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      position: absolute;
      top: -5px;
      left: -5px;
    }
  }
}