.pages-nav {
  position: fixed;
  right: 3.125em;
  top: 5.875em;
}

.pages-nav__item {
  margin-bottom: 0.938em;
}

.pages-nav__link {
  display: block;
  width: 0.375em;
  height: 0.375em;
  background-color: $white;  
  border-radius: 50%;
  position: relative;
}

.pages-nav__item--active {
  .pages-nav__link {
    &::before {
      content: "";
      display: block;
      border: 0.063em solid #ffffff;
      width: 0.875em;
      height: 0.875em;
      border-radius: 50%;
      position: absolute;
      top: -0.313em;
      left: -0.313em;
    }
  }
}