.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;

  &.opened {
    display: block;
  }
}

.popup__container {
  width: 28.750em;
  background-color: $white;
  border-radius: 5px;
  padding-left: 1.188em;
  padding-right: 1.438em;
  padding-bottom: 1.688em;
  padding-top: 1.688em;
  position: relative;
}

.popup__title {
  color: #2f3234;
  font-family: 'Gagalin', Helvetica, sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  margin-bottom: 1.250em;
}

.popup__description {
  color: #2f3234;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 1.714em;
}

.popup__close {
  width: 0.938em;
  height: 0.938em;
  display: block;
  position: absolute;
  right: 1.250em;
  top: 1.250em;
  background: url('../img/popup-close.png') center center no-repeat;
}